<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The Ruby on Rails Tutorial, part of the Learn Enough family of tutorials, is a book and screencast series to teach web development with
  Ruby on Rails.
  This is the sample app for the tutorial.
</p>
