<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the home page for <thead>
        <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
      </thead>
    </p>
  </body>
</html>
